@(
experimentos: Seq[ ExperimentData ],
formulario: play.data.Form[ExperimentForm],
mapDescripciones: String,
mapImagenes: String,
)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import play.mvc.Http.Request
@import helper._

<!-- 
 var pepe = @Html(mapDescripciones)
 -->

@main("SVG2 Browser") {
@header()

<div class="container">
  <div class="row">
    <div class="col-sm-6">
    
	@helper.form(action = routes.SVG2Browser.generateResults()) {
	  @CSRF.formField
	
	  <h1>Experiment ID</h1>
	  @select(
	   formulario("experimentID"),
	   options = experimentos.map( experiment => experiment.experimentID -> experiment.experimentID  ),
	   '_label -> "Select your experiment", '_default -> "-- Select experiment --"
	  )
	 </div>
	</div>
	
	<div class="row">
	 <div class="col-sm-6">
  	  <h1>Description</h1>
      <div id="descripcion" class="exp_desc">-- experiment description --</div>
     </div>
     
     <div class="col-sm-6">
      <h1>Gene List</h1>
	  @helper.textarea(formulario("geneList"), 
	  	'_label -> "Copy your genes here",
	  	'rows -> 5,
	  	'class -> "col-12 exp_genelist"
	  	)
  
       <button id="submit_results" class="btn btn-lg btn-primary btn-block" type="submit" disabled>
		 Show Results
	   </button>
    </div>
    <div class="col-sm-6"> 
      <h1>Image</h1>
      <div id="imagen" class="input_svg">-- empty image --</div>	  
    </div>
 
  </div>
  
    }
  
</div> 
  
  <script>
  
    var jsonmapDesc = ' @Html(mapDescripciones) ';
    var jsonmapImg  = ' @Html(mapImagenes) ';
  	var mapDescripciones = $.parseJSON( jsonmapDesc );
  	var mapImagenes      = $.parseJSON( jsonmapImg ); 
  	
  	//for (var key in mapDescripciones) {
    //console.log(key + ': ' + mapDescripciones[key]);
	//}
  
    $("#experimentID").on('change', function() {
      var expID = $(this).find('option:selected').text();
      
      //$("#descripcion").text( mapDescripciones[ expID ] );
      $("#descripcion").html( '<span>' + mapDescripciones[ expID ] + '</span>');
      
      var svgurl = "@routes.Assets.versioned("images/experiments/")" + expID + '/' + mapImagenes[ expID ];
      console.log( 'SVG_URL: ' + svgurl);
      $("#imagen").html( '<img src=\"' + svgurl + '\" class=\"img-fluid\"/>');
      
      
     // $("#genelist").html( '<span>' );
      $.getJSON( '/exampleGenes/' + expID, function(exampleJSON) {
      	console.log( 'Example: ' + exampleJSON);
     	
     	
      	$.each(exampleJSON, function(i, field){
	      $("#geneList").append( field + " " );
	    });
      	//var listGenes = $.parseJSON( exampleJSON ); 
    
      }); 
   //   $("#genelist").append( '</span>');
   
   	 // $("#submit_results").attr('class', 'newClass');
   	 $("#submit_results").prop('disabled', false);
      
    });
   
  </script>
  
  </br>
  
@footer()
}
