@(
experimentos: Seq[ ExperimentData ],
formulario: play.data.Form[ExperimentForm],
mapDescripciones: String,
mapImagenes: String,
)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import play.mvc.Http.Request
@import helper._

<!-- 
 var pepe = @Html(mapDescripciones)
 -->
 var pepe = @Html(mapDescripciones)

@main("SVG2 Browser") {
@header()


	@helper.form(action = routes.SVG2Browser.generateResults()) {
	  @CSRF.formField
	
	
      @helper.inputText(formulario("colorSVG"), '_label -> "Color:")

	  @select(
	   formulario("experimentID"),
	   options = experimentos.map( experiment => experiment.experimentID -> experiment.experimentID  ),
	   '_label -> "Select your experiment", '_default -> "-- Select experiment --"
	  )
  
    }
  <h1>Descripcion:</h1>
  <div id="descripcion">-- experiment description --</div>
  
  <h1>Copy your genes here:</h1>
  <div id="genelist">-- gene list --</div>
  
  <h1>Image</h1>
  <div id="imagen">-- empty image --</div>
  
  <h1>Copy your genes here</h1>
  <textarea name="gene1" cols="40" rows="5"></textarea>
  
  SUBMIT.
  
  <script>
  
    var jsonmapDesc = ' @Html(mapDescripciones) ';
    var jsonmapImg = ' @Html(mapImagenes) ';
  	var mapDescripciones = $.parseJSON( jsonmapDesc );
  	var mapImagenes = $.parseJSON( jsonmapImg ); 
  	
  	//for (var key in mapDescripciones) {
    //console.log(key + ': ' + mapDescripciones[key]);
	//}
  
    $("#experimentID").on('change', function() {
      var expID = $(this).find('option:selected').text();
      
      //$("#descripcion").text( mapDescripciones[ expID ] );
      $("#descripcion").html( '<span>' + mapDescripciones[ expID ] + '</span>');
      
      var svgurl = "@routes.Assets.versioned("images/experiments/")" + expID + '/' + mapImagenes[ expID ];
      console.log( 'SVG_URL: ' + svgurl);
      $("#imagen").html( '<img src=\"' + svgurl + '\"/>');
      
      
      $("#genelist").html( '<span>' );
      $.getJSON( '/exampleGenes/' + expID, function(exampleJSON) {
      	console.log( 'Example: ' + exampleJSON);
      	$.each(exampleJSON, function(i, field){
	      $("#genelist").append( i + " .. " + field );
	    });
      	//var listGenes = $.parseJSON( exampleJSON ); 
    
      }); 
      $("#genelist").append( '</span>');
      
    });
  
  
  </script>
}
