@(
experimentID: String,
colorSVG: String,
colorBarplot: String,
formulario: play.data.Form[ExperimentForm],
niceColors: Seq[ String ],
listTissue: Seq[ String ],
filteredGeneList: Seq[ String ],
)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import play.mvc.Http.Request
@import helper._

@main("SVG2 Browser") {
@header()


<div class="container">
	  <div class="row">
	    <div class="col-sm-6">
	    <!-- SVG, download and change color-->
	      <h1>Image</h1>
	      <div id="imagen_svg" class="output_svg">
		    <img src="/getImageSVG/@experimentID/@colorSVG"/>
		  </div>
	      
	      <a href="/getImageSVG/@experimentID/@colorSVG" download>Download as png</a>
	      
	      @helper.form(action = routes.SVG2Browser.updateOutputExperiment()) {
		    @CSRF.formField
			
			@select(
		      formulario("colorSVG"),
		      options = niceColors.map( color => color -> color  ),
		      '_label -> "Select an alternative color", '_default -> "-- change Color --"
		  )
		
		  }
	        
	    </div>
	    
	     <div class="col-sm-6">
	     <!--  barplot + filtered genes -->
	     <h1>Image</h1>
	        <div id="image_barplot" class="output_barplot">
		      <img src="/getImageBarplot/@colorBarplot"/>
		    </div>
	      
	        <a href="/getImageBarplot/@colorBarplot" download>Download as png</a>
	      
	        @helper.form(action = routes.SVG2Browser.updateOutputExperiment()) {
		      @CSRF.formField
			
			  @select(
		        formulario("colorBarplot"),
		        options = niceColors.map( color => color -> color  ),
		        '_label -> "Select an alternative color", '_default -> "-- change Color --"
		      )
		
		    }
		    
		    @helper.form(action = routes.SVG2Browser.updateOutputExperiment()) {
		      @CSRF.formField
			
			  @select(
		        formulario("selectedTissue"),
		        options = listTissue.map( tissue => tissue -> tissue  ),
		        '_label -> "Show genes in tissues...", '_default -> "-- select tissue --"
		      )			   
		    }
		    
		    <textarea rows="4" cols="50">
				En un lugar de la mancha, donde Ariel no paseaba, pues no había mares, ... 
			</textarea>
	    </div> 
	  
	  </div>
</div>



}
