@(
experimentID: String,
colorSVG: String,
colorBarplot: String,
formulario: play.data.Form[ExperimentForm],
niceColors: Seq[ String ],
listTissue: Seq[ String ],
filteredGeneList: Seq[ String ],
)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import play.mvc.Http.Request
@import helper._

@main("SVG2 Browser") {
@header()


<div class="container">
	  <div class="row">
	  
	    <!-- SVG, download and change color-->
	    <div class="col-sm-6">
	      <h1>SVG</h1>
	     
	        
	    </div>
	    
	     <!--  barplot + filtered genes -->
	     <div class="col-sm-6">
	     <h1>Barplot</h1>
	       
		    
		    <textarea rows="4" cols="50">
				En un lugar de la mancha, donde Ariel no paseaba, pues no había mares, ... 
			</textarea>
	    </div> 
	  
	  </div>
</div>




}
